body {
    margin-top: 20px;
}

/* Set Alarm Display */
.main1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(https://media.giphy.com/media/fXnNFjpZ6LQhXUUdVf/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}

h1 {
    margin-bottom: -40px;
}

/* Alarm Time Display */
.alarmTimecontainer {
    background-color: black;
    width: 400px;
    height: auto;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5px;
}

/* Alarm Time Set by user */
#alarmTime li {
    padding: 3px;
    color: white;
    border-bottom: 0.1px solid lightgray;
}

/* Alarm Delete button */
#alarmTime button {
    background-color: blue;
    color: white;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 2px;
    margin-left: 200px;
}
